
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


main {
    display: flex;
    justify-content: space-between;
}


.total-expenses {
    width: 30%;
    padding: 20px;
}


.all-expenses {
    width: 30%;
    padding: 20px;
}


.expense-categories {
    width: 30%;
    padding: 20px;
}


.expense-overview {
    width: 30%;
    padding: 20px;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.total-amount {
    font-size: 24px;
    font-weight: bold;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.category {
    display: flex;
    align-items: center;
    padding: 10px;
}


.overview-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

